[submodule "IT8951"]
        path = IT8951
        url = https://github.com/GregDMeyer/IT8951.git
[submodule "assets/weather-icons"]
	path = assets/weather-icons
	url = https://github.com/meshosk/weather-icons.git
